.banner {
    color: #43484D;
    overflow: hidden;
}

.banner-wrapper {
    margin: 0 auto 4rem;
    max-width: 1028px;
    left: 0;
    right: 0;
}

.aboutus-text {
    width: 50%;
    float: left;
    padding-top: 30px;
}

.aboutus-text h1 {
    font-size: 43px;
    margin-left: 40px;
}

.aboutus-text p {
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #43474D;
}
.aboutus-pic {
    padding-top: 30px;
    width: 50%;
    height: auto;
    float: right;
}

.aboutus-pic img {
    width: 100%;
    height: auto;
}

@media (max-width: 940px) {
    .banner {
        margin-top: 0;
        flex-direction: column;
    }
    .aboutus-pic {
        width: 100%;
        float: none;
        margin-top: 40px;
    }
    .aboutus-text {
        width: 100%;
        float: none;
    }
    .aboutus-text h1 {
        margin: auto;
        padding: 0 10px;
        font-size: 40px;
    }
    .aboutus-text p {
        margin: auto;
        padding: 0 10px;
    }
}